.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    var(--primary-color) 0%,
    #928dab 51%,
    #1f1c2c 100%
  );
  background-size: 200% auto;
  border: none;
  border-radius: var(--primary-border-radius);
  transition: 0.5s;
  cursor: pointer;
}

.icon {
  font-size: 16px;
  transform: translateY(-1px);
}

@media screen and (max-width: 500px) {
  .button {
    align-self: stretch;
  }
}

@media screen and (min-width: 800px) {
  .button:hover {
    background-position: right center;
  }
}
