.history-enter {
  max-height: 0;
}

.history-enter-active {
  max-height: 400px; /* Встановіть бажану максимальну висоту */
  transition: all 300ms;
}

.history-exit {
  max-height: 400px;
  transition: all 300ms;
}

.history-exit-active {
  max-height: 0;
  transition: all 300ms;
}
